
@title Ricardo Pereira Dias @end
@description Portifolio de Ricardo Pereira Dias @end
@keywords
    portifolio, site pssoal, curriculum
    kkk hosso
@end

        <div id="mainSlider" class="carousel slide main-slider" data-ride="carousel">

            <ol class="carousel-indicators">

                <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
                <li data-target="#mainSlider" data-slide-to="1"></li>
                <li data-target="#mainSlider" data-slide-to="2"></li>

            </ol>

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <picture>

                        <source srcset="assets/imgs/slide-01-2000x500.png" media="(min-width: 1400px)">
                        <source srcset="assets/imgs/slide-01-1400x500.png" media="(min-width: 769px)">
                        <source srcset="assets/imgs/slide-01-800x500.png" media="(min-width: 577px)">
                        <img srcset="assets/imgs/slide-01-600x500.png" alt="responsive image" class="d-block w-100">

                    </picture>

                </div>


                <div class="carousel-item">

                    <picture>

                        <source srcset="assets/imgs/slide-02-2000x500.png" media="(min-width: 1400px)">
                        <source srcset="assets/imgs/slide-02-1400x500.png" media="(min-width: 769px)">
                        <source srcset="assets/imgs/slide-02-800x500.png" media="(min-width: 577px)">
                        <img srcset="assets/imgs/slide-02-600x500.png" alt="responsive image" class="d-block w-100">

                    </picture>

                </div>

                <div class="carousel-item">

                    <picture>

                        <source srcset="assets/imgs/slide-03-2000x500.png" media="(min-width: 1400px)">
                        <source srcset="assets/imgs/slide-03-1400x500.png" media="(min-width: 769px)">
                        <source srcset="assets/imgs/slide-03-800x500.png" media="(min-width: 577px)">
                        <img srcset="assets/imgs/slide-03-600x500.png" alt="responsive image" class="d-block w-100">

                    </picture>

                </div>

                <!--
                <div class="carousel-item">

                    <picture>

                        <source srcset="assets/imgs/slide-2000x500-03.jpg" media="(min-width: 1400px)">
                        <source srcset="assets/imgs/slide-1400x500-03.jpg" media="(min-width: 769px)">
                        <source srcset="assets/imgs/slide-800x500-03.jpg" media="(min-width: 577px)">
                        <img srcset="assets/imgs/slide-600x500-03.jpg" alt="responsive image" class="d-block w-100">

                    </picture>

                </div>

                <div class="carousel-item">

                    <picture>

                        <source srcset="assets/imgs/slide-2000x500-04.jpg" media="(min-width: 1400px)">
                        <source srcset="assets/imgs/slide-1400x500-04.jpg" media="(min-width: 769px)">
                        <source srcset="assets/imgs/slide-800x500-04.jpg" media="(min-width: 577px)">
                        <img srcset="assets/imgs/slide-600x500-04.jpg" alt="responsive image" class="d-block w-100">

                    </picture>

                </div>  -->

            </div>

            <a class="carousel-control-prev" href="#mainSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 132.29166 132.29167">

                        <g transform="translate(0,-164.70832)">
                            <path d="m 79.914062,173.38867 -30.537109,56.37891 30.537109,56.37695 3.515626,-1.9043 -29.503907,-54.47265 29.503907,-54.47461 z" />
                        </g>

                    </svg>

                </span>
                <span class="sr-only">Slide Anterior</span>
            </a>

            <a class="carousel-control-next" href="#mainSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 132.29166 132.29167">

                        <g transform="translate(0,-164.70832)">
                            <path d="m 52.892579,173.38867 30.537109,56.37891 -30.537109,56.37695 -3.515626,-1.9043 29.503907,-54.47265 -29.503907,-54.47461 z" />
                        </g>

                    </svg>

                </span>
                <span class="sr-only">Próximo Slide</span>
            </a>
        </div>

        <main class="container">

            <aside>
                <!-- barra lateral -->
            </aside>

        </main>
