
@title Sobre | Ricardo Pereira Dias @end
@description Informações sobre o perfil de Ricardo Pereira Dias @end
@keywords
    perfil, biografia, sobre 
@end

        <main class="main">

            <header>

                <div class="container py-4">

                    <h1>
                        Sobre Mim
                    </h1>

                    <ul>
                        <li><a href="{{url_prefix}}index.html">Principal</a></li>
                        <li><a href="{{url_prefix}}pages/about.html">Sobre</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-22T19:10-08:00">
                        Atualizado em 22/01/2019
                        </time>
                    </p>

                </div>

            </header>

            <article class="container py-4 article">

                <section>

                    <h2>
                        Síntese
                    </h2>

                    <figure class="right figure-circled percent25">

                        <img src="{{ url_prefix }}assets/imgs/rpd-300.png">

                        <figcaption>
                            Yes! 
                            <a href="https://twitter.com/ricardopedias" target="_blank">It's me :)</a>
                        </figcaption>

                    </figure>

                    <p>
                        Meu nome é Ricardo Pereira Dias, um arquiteto de software apaixonado 
                        por aquilo que faz. 
                    </p>
                    <p>
                        Estou na área de desenvolvimento de softwares há 22 anos e atualmente trabalho com 
                        <i>Liderança Técnica</i>, <i>Arquitetira de Software</i> e <i>Manutenção/Evolução de legados</i> 
                        para várias empresas, tais como <i>Samsung</i>, <i>Vivo</i>, <i>Claro</i>, <i>Net</i> e diversas outras.
                    </p>

                    <p>
                        Aficionado por conhecimento, leitura, escrita e ensino, busco a excelência em tudo 
                        aquilo que faço. Embora meu foco principal seja o desenvolvimento de software, 
                        as vezes dou uma "escapada" para o desenho artístico, animações/apresentações 3D e escultura.
                    </p>

                    <!-- <div class="tags">
    
                        <h2>Soft Skills</h2>

                        <ul>
                            <li>Iniciativa</li>
                            <li>Boa oratória</li>
                            <li>Inteligência emocional</li>
                            <li>Relacionamento interpessoal</li>
                            <li>Disciplina</li>
                            <li>Organização</li>
                            <li>Engajamento</li>
                            <li>Adaptabilidade</li>
                            <li>Vontade de aprender</li>
                            <li>Facilidade de aprendizado</li>
                            <li>Alto nível de responsabilidade</li>
                            <li>Cuidado com a qualidade do software</li>
                            <li>Atenção concentrada</li>
                            <li>Excelência técnica</li>
                            <li>Trabalho em equipe</li>
                            <li>Atitude positiva</li>
                            <li>Apaixonado pelo que faz</li>
                        </ul>

                        <h2>Hard Skills</h2>

                        <ul>
                            <li>PHP 7.3</li>
                            <li>Laravel Framework</li>
                            <li>Laravel Mix</li>
                            <li>Criação de Pacotes Packagist</li>
                            <li>DevOps</li>
                            <li>Engenharia de Requisitos</li>
                            <li>Arquitetura e Design de Software</li>
                        </ul>
    
                    </div> -->

                    <h2>
                        Minhas Redes
                    </h2>

                    <!-- <h2>
                        Skills
                    </h2>

                    <h3>
                        Linguagens
                    </h3>

                    <ul>
                        <li>xxxx</li>
                        
                    </ul> -->

                    <p>
                        Você pode me encontrar nas redes sociais abaixo. 
                        Mas geralmente sou mais ativo no twitter :)
                    </p>

                </section>

                <div class="social-networks">

                    <a class="linkedin" href="https://www.linkedin.com/in/ricardopedias" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a class="medium" href="https://medium.com/@ricardopedias" target="_blank">
                        <i class="fab fa-medium"></i>
                    </a>

                    <a class="stackexchange" href="https://stackexchange.com/users/15565311/ricardo-pareira-dias" target="_blank">
                        <i class="fab fa-stack-overflow"></i>
                    </a>

                    <a class="twitter" href="https://twitter.com/ricardopedias" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                    <a class="github" href="https://github.com/ricardopedias" target="_blank">
                        <i class="fab fa-github-square"></i>
                    </a>

                </div>

            </article>

        </main>
