
@title Sobre | Ricardo Pereira Dias @end
@description Informações sobre o perfil de Ricardo Pereira Dias @end
@keywords
    perfil, biografia, sobre 
@end

        <main class="main">

            <header>

                <div class="container py-4">

                    <h1>
                        Sobre Mim
                    </h1>

                    <ul>
                        <li><a href="/">Principal</a></li>
                        <li><a href="/pages/about.html">Sobre</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-22T19:10-08:00">
                        Atualizado em 22/01/2019
                        </time>
                    </p>

                </div>

            </header>

            <article class="container py-4 article">

                <section>

                    <h2>
                        Síntese
                    </h2>

                    <figure class="right figure-circled percent25">

                        <img src="/assets/imgs/rpd-300.png">

                        <figcaption>
                            Yes! 
                            <a href="https://twitter.com/ricardopedias" target="_blank">It's me :)</a>
                        </figcaption>

                    </figure>

                    <p>
                        Meu nome é Ricardo Pereira Dias, um desenvolvedor de software 
                        residente em São Carlos/SP, uma cidade fantástica e com muitos apelidos: 
                        
                        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12504.htm"
                           target="_blank"
                           rel="nofollow">
                           "Capital Nacional da Tecnologia"
                        </a>, 

                        <a href="https://leismunicipais.com.br/a/sp/s/sao-carlos/lei-ordinaria/2009/1492/14917/lei-ordinaria-n-14917-2009-confere-ao-municipio-de-sao-carlos-o-titulo-de-capital-do-conhecimento?q=Lei+Municipal+n%C2%BA+14.917+de+2009."
                           target="_blank"
                           rel="nofollow">
                           "Capital do Conhecimento"
                        </a>,

                        <a href="http://www.saocarlos.sp.gov.br/index.php/noticias-2017/171436-sanca-hub-vai-realizar-acoes-permanentes-de-fomento-ao-empreendedorismo-tecnologia-e-inovacao.html"
                           target="_blank"
                           rel="nofollow">
                           "Sanca HUB"
                        </a> 
                        
                        e o mais novo 

                        <a href="http://g1.globo.com/economia/pme/pequenas-empresas-grandes-negocios/noticia/2018/04/sao-carlos-e-o-vale-do-silicio-brasileiro.html" 
                           target="_blank"
                           rel="nofollow">
                           "Vale do Silício Brasileiro"
                        </a>.
                    </p>

                    <p>
                        Estou na área de desenvolvimento de softwares há 20 anos e atualmente trabalho com 
                        <i>Engenharia de Software</i>, <i>Análise de Requisitos</i> e <i>Manutenção/Evolução de legados</i> 
                        para várias empresas, tais como <i>Samsung</i>, <i>Vivo</i>, <i>Claro</i>, <i>Net</i> e diversas outras.
                    </p>

                    <p>
                        Aficionado por conhecimento, leitura, escrita e ensino, procuro ser o mais organizado 
                        possível naquilo que faço. Embora meu foco principal seja o desenvolvimento de software, 
                        as vezes dou uma "escapada" para o desenho artístico, animações/apresentações 3D e design gráfico.
                    </p>

                    <!-- <div class="tags">
    
                        <h2>Soft Skills</h2>

                        <ul>
                            <li>Iniciativa</li>
                            <li>Boa oratória</li>
                            <li>Inteligência emocional</li>
                            <li>Relacionamento interpessoal</li>
                            <li>Disciplina</li>
                            <li>Organização</li>
                            <li>Engajamento</li>
                            <li>Adaptabilidade</li>
                            <li>Vontade de aprender</li>
                            <li>Facilidade de aprendizado</li>
                            <li>Alto nível de responsabilidade</li>
                            <li>Cuidado com a qualidade do software</li>
                            <li>Atenção concentrada</li>
                            <li>Excelência técnica</li>
                            <li>Trabalho em equipe</li>
                            <li>Atitude positiva</li>
                            <li>Apaixonado pelo que faz</li>
                        </ul>

                        <h2>Hard Skills</h2>

                        <ul>
                            <li>PHP 7.3</li>
                            <li>Laravel Framework</li>
                            <li>Laravel Mix</li>
                            <li>Criação de Pacotes Packagist</li>
                            <li>DevOps</li>
                            <li>Engenharia de Requisitos</li>
                            <li>Arquitetura e Design de Software</li>
                        </ul>
    
                    </div> -->

                    <h2>
                        Minhas Redes
                    </h2>

                    <!-- <h2>
                        Skills
                    </h2>

                    <h3>
                        Linguagens
                    </h3>

                    <ul>
                        <li>xxxx</li>
                        
                    </ul> -->

                    <p>
                        Você pode me encontrar nas redes sociais abaixo. 
                        Mas geralmente sou mais ativo no twitter :)
                    </p>

                </section>

                <div class="social-networks">

                    <a class="linkedin" href="https://www.linkedin.com/in/ricardopdias" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a class="medium" href="https://medium.com/@ricardopdias" target="_blank">
                        <i class="fab fa-medium"></i>
                    </a>

                    <a class="stackexchange" href="https://stackexchange.com/users/15565311/ricardo-pareira-dias" target="_blank">
                        <i class="fab fa-stack-overflow"></i>
                    </a>

                    <a class="twitter" href="https://twitter.com/ricardopedias" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                    <a class="github" href="https://github.com/ricardopedias" target="_blank">
                        <i class="fab fa-github-square"></i>
                    </a>

                </div>

            </article>

        </main>
