
@title Artigos | Ricardo Pereira Dias @end
@description Artigos e conteúdos publicados na internet @end
@keywords
    artigos, matérias, postagens, conteúdo sobre programação, arquitetura
@end

        <main class="main">

            <header>

                <div class="container py-4">

                    <h1>
                        Artigos
                    </h1>

                    <ul>
                        <li><a href="/">Principal</a></li>
                        <li><a href="/pages/articles.html">Artigos</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-22T19:10-08:00">
                        Atualizado em 24/08/2019
                        </time>
                    </p>

                </div>

            </header>

            <article class="container py-4 article">

                <section>

                    <h2 class="mobile-left">
                        Sobre Interface Humano Computador
                    </h2>

                    <ul class="links">
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/interface-humano-computador-5bd0ee9d7d2e">Interface Humano-Computador</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/a-hist%C3%B3ria-da-interface-4b698537ba15">A História da Interface</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/usabilidade-e-qualidade-565795aeb1ce">Usabilidade e Qualidade</a>        
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/o-design-centrado-no-usu%C3%A1rio-9053dbff54f8">Design Centrado no Usuário</a>        
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/prototipagem-de-software-7ac07027e6d8">Prototipagem de Software</a>
                        </li>
                        <li>
                            <a target="_blank" href="xxx">Prototipagem de Software</a>
                        </li>
                    </ul>
                    
                    <h2 class="mobile-left">
                        Sobre Engenharia de Software
                    </h2>
                    
                    <ul class="links">
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/os-processos-de-software-56a2e70fddfb">Os Processos de Software</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/o-modelo-em-cascata-f2418addaf36">O Modelo em Cascata</a>        
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/o-modelo-incremental-b41fc06cac04">O Modelo Incremental</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/o-modelo-em-espiral-de-boehm-ed1d85b7df">O Modelo em Espiral de Boehm</a>        
                        </li>
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/o-processo-unificado-d102b1fc9d00">O Processo Unificado</a>
                        </li>
                    </ul>
                    
                    <h2 class="mobile-left">
                        Sobre Orientação a Objetos
                    </h2>

                    <ul class="links">
                        <li>
                            <a target="_blank" href="https://medium.com/codigo-facil/os-princ%C3%ADpios-solid-34b136f507bb">Os Princípios SOLID</a>
                        </li>
                    </ul>
                    

                    <h2 class="mobile-left">
                        Obras Traduzidas
                    </h2>

                    <ul class="links">
                        <li>
                            <a target="_blank" href="/assets/docs/ddd-referencia.pdf">Domain-Driven Design Referência (Sumário de Padrões e Definições)</a>
                        </li>
                    </ul>

                    <br><br><br>

                </section>

                <!-- <div class="social-networks">

                    <a class="linkedin" href="https://www.linkedin.com/in/ricardopdias" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a class="medium" href="https://medium.com/@ricardopdias" target="_blank">
                        <i class="fab fa-medium"></i>
                    </a>

                    <a class="stackexchange" href="https://stackexchange.com/users/15565311/ricardo-pareira-dias" target="_blank">
                        <i class="fab fa-stack-overflow"></i>
                    </a>

                    <a class="twitter" href="https://twitter.com/ricardopedias" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                    <a class="github" href="https://github.com/ricardopedias" target="_blank">
                        <i class="fab fa-github-square"></i>
                    </a>

                </div> -->

            </article>

        </main>
