
@title Entre em contato com Ricardo Pereira Dias @end
@description Informações adicionais sobre como entrar em contato com Ricardo Pereira Dias @end
@keywords
    faleconosco, contato, email, redes sociais
@end

        <main class="main">

            <header>

                <div class="container py-4">

                    <h1>
                        Contato
                    </h1>

                    <ul>
                        <li><a href="{{url_prefix}}index.html">Principal</a></li>
                        <li><a href="{{url_prefix}}pages/contact.html">Contato</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-10T19:10-08:00">
                        Atualizado em 10/01/2019
                        </time>
                    </p>

                </div>

            </header>

            <div class="row main-contacts-map">

                <div class="col">
                </div>

                <div class="col">

                    <iframe src="https://maps.google.com/maps?q=Paraisopolis - MGP&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border:0" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>

                    @map
                        <iframe src="https://maps.google.com/maps?q=Centro, Paraisópolis, MG&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border:0" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
                    @end
                </div>

            </div>

            <div class="container py-4 main-contacts">

                <!-- () xxxxxxxxxxxxxxxxx -->
                <section class="row">

                    <div class="col">

                        <ul class="contact-forms">

                            <li>
                                <i class="fas fa-directions"></i>
                                Paraisópolis/MG
                            </li>

                            <!-- <li>
                                <i class="fas fa-mobile-alt"></i>
                                (12) 99722-8821
                            </li> -->

                            <li>
                                <i class="fas fa-mail-bulk"></i>
                                contato<canvas class="js-email-at"></canvas>ricardopedias.com.br
                            </li>
                        </ul>

                        <div class="social-networks">

                            <a class="linkedin" href="https://www.linkedin.com/in/ricardopedias" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>

                            <a class="medium" href="https://medium.com/@ricardopedias" target="_blank">
                                <i class="fab fa-medium"></i>
                            </a>

                            <a class="stackexchange" href="https://stackexchange.com/users/15565311/ricardo-pareira-dias" target="_blank">
                                <i class="fab fa-stack-overflow"></i>
                            </a>

                            <a class="twitter" href="https://twitter.com/ricardopedias" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>

                            <a class="github" href="https://github.com/ricardopedias" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>

                        </div>

                    </div>

                    <div class="col"></div>

                </section>

            </div>

        </main>
