
@title Portfólio | Ricardo Pereira Dias @end
@description Portifólio profissional com uma seleção de trabalhos realizados por Ricardo Pereira Dias @end
@keywords
    portifolio, trabalhos
@end

        <main class="main">

            <header>

                <div class="container py-4">

                    <h1>
                        Portfólio
                    </h1>

                    <ul>
                        <li><a href="/">Principal</a></li>
                        <li><a href="/pages/portfolio.html">Portfolio</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-10T19:10-08:00">
                        Atualizado em 10/01/2019
                        </time>
                    </p>

                </div>

            </header>



        </main>
