
@title Linha do tempo | Ricardo Pereira Dias @end
@description Linha do tempo profissional de Ricardo Pereira Dias, contendo usa experiências ao longo dos anos @end
@keywords
    linha do tempo, timeline, experiência profissional, skills, competências
@end

        <main>

            <header>

                <div class="container py-4">

                    <h1>
                        Linha do Tempo
                    </h1>

                    <ul>
                        <li><a href="{{url_prefix}}index.html">Principal</a></li>
                        <li><a href="{{url_prefix}}pages/timeline.html">Timeline</a></li>
                    </ul>

                    <p>
                        <time pubdate datetime="2019-01-10T19:10-08:00">
                        Atualizado em 10/01/2019
                        </time>
                    </p>

                </div>

            </header>


            <div class="container main-timeline py-4">

                <!-- () xxxxxxxxxxxxxxxxx -->
                <section class="section-left">

                    <div class="section-mark">
                        <div class="circle">2021</div>
                    </div>

                    <div class="section-content">

                        <h2>Bueno Networks</h2>

                        <small>São José dos Campos/SP</small>

                        <p>
                            Atualmente trabalho na área de
                            <strong>Arquitetura de Software</strong>,
                            <strong>Análise e manutenção de softwares legados</strong> e
                            <strong>Desenvolvimento full stack</strong>,
                            atuando como Líder Técnico na criação e evolução de aplicações para triagem de produtos,
                            voltados para empresas como Samsung, Vivo, Claro, Net e diversas outras no
                            ramo de telefonia e internet.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>Domain-Driven Design</li>
                            <li>Event-Driven Architecture</li>
                            <li>Clean Architecture</li>
                            <li>Ports and Adapters</li>
                            <li>PHP 8.1</li>
                            <li>C#</li>
                            <li>Ruby</li>
                            <li>Laravel Framework</li>
                            <li>Laravel Mix</li>
                            <li>Criação de Pacotes Packagist</li>
                            <li>DevOps</li>
                            <li>Engenharia de Requisitos</li>
                            <li>Arquitetura e Design de Software</li>
                        </ul>


                  </div>

              </section>

                <!-- \_________________ -->
                <div class="path-left">
                    <div class="corner-left"></div>
                    <div class="line-center"><hr></div>
                    <div class="corner-right"></div>
                </div>

                <!-- xxxxxxxxxxxxxxxxx () -->
                <section class="section-right">

                    <div class="section-content">

                        <h2>Multiweb Sistemas</h2>

                        <small>Santa Branca/SP</small>

                        <p>
                            Nesta etapa comecei a colocar em prática os conhecimentos na área de
                            engenharia de software elaborando <strong>Documentos Técnicos</strong>
                            com <strong>UML</strong>, além de atuar na <strong>Engenharia de Requisitos</strong> e
                            <strong>Desenvolvimento full stack</strong>, criando aplicações responsivas
                            e semânticamente projetadas de soluções voltadas para Prefeituras e
                            empresas em todo o Vale do Paraíba.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>PHP 7</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Symfony Framework</li>
                            <li>Java</li>
                            <li>Android</li>
                            <li>Git</li>
                            <li>Composer</li>
                            <li>Npm</li>
                            <li>Sass</li>
                            <li>Less</li>
                            <li>UML</li>
                            <li>Arquitetura e Design de Software</li>
                            <li>Engenharia de Software</li>
                            <li>Documentação Técnica de Soluções</li>
                        </ul>

                    </div>

                    <div class="section-mark">
                        <div class="circle">2015</div>
                    </div>

                </section>

                <!-- _________________/ -->
                <div class="path-right">
                    <div class="corner-left"></div>
                    <div class="line-center"><hr></div>
                    <div class="corner-right"></div>
                </div>

                <!-- () xxxxxxxxxxxxxxxxx -->
                <section class="section-left">

                    <div class="section-mark">
                        <div class="circle">2007</div>
                    </div>

                    <div class="section-content">

                        <h2>ClickMidia</h2>

                        <small>São José dos Campos/SP</small>

                        <p>
                            Nesta agência de marketing, atuei com foco em desenvolvimento voltado para produtos
                            internos de comunicação como
                            <strong>Blogs de Entretenimento</strong>,
                            <strong>Sites de Jogos</strong>,
                            <strong>Ferramentas para geração de conteúdo</strong> e
                            <strong>Criação de sites expressos</strong>.
                            Também desenvolvi diversos trabalhos baseados em
                            <strong>Wordpress</strong> como <strong>Plugins</strong> e <strong>Temas</strong>.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>PHP 5.6</li>
                            <li>Zend Framework</li>
                            <li>WebDesign</li>
                            <li>Desenvolvimento para Wordpress</li>
                            <li>Jquery</li>
                            <li>ShellScript</li>
                            <li>Administração de Servidores com foco em alta demanda</li>
                            <li>Apache</li>
                            <li>Bind9</li>
                            <li>Webmin e Virtualmin</li>
                            <li>CPanel (instalação e configuração)</li>
                            <li>Compilação de Programas</li>
                        </ul>

                    </div>

                </section>

                <!-- \_________________ -->
                <div class="path-left">
                    <div class="corner-left"></div>
                    <div class="line-center"><hr></div>
                    <div class="corner-right"></div>
                </div>

                <!-- xxxxxxxxxxxxxxxxx () -->
                <section class="section-right">

                    <div class="section-content">

                        <h2>
                            Grupo Relâmpago
                        </h2>

                        <small>São José dos Campos/SP</small>

                        <p>
                            Esta gráfica e editora vendia seus produtos para o Brasil todo através de
                            mala direta e entregava os produtos pelos correios. Ao ingressar para
                            esta empresa, atuei em três áreas distintas:
                            <strong>Gerenciar o Departamento de Criação e Arte</strong>,
                            <strong>Desenvolver a Loja Virtual da Empresa</strong> e
                            <strong>Automatizar a Publicação dos Produtos na Web</strong>.
                        </p>

                        <p>
                            Além de trabalhar com <strong>Desktop Publishing</strong> e treinar a
                            equipe de designers usando a suíte da Adobe (Photoshop, Indesign, Illustrator, etc),
                            implementava as evoluções na <strong>Loja Virtual</strong> e cuidava
                            da infraestrutura tecnológica da empresa (manutenção nos computadores,
                            configurações de rede, backups automáticos, publicações online, mail marketing, etc).
                        </p>

                        <p>
                            Com a finalidade de automatizar tarefas, coordenei uma mudança de processos
                            onde os designers passaram a salvar as artes criadas em diretórios específicos
                            no servidor da intranet. Periodicamente, uma <strong>Aplicação escrita em Python</strong>
                            convertia o espaço de cor dos produtos de <strong>CMYK</strong> (cores para gráfica) para
                            <strong>RGB</strong> (cores para visualização e web) e em seguida publicava
                            automaticamente os produtos novos no catálogo online do site. Tudo de forma automatizada.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>PHP 4.3</li>
                            <li>Python</li>
                            <li>C</li>
                            <li>C++</li>
                            <li>MySQL</li>
                        </ul>

                    </div>

                    <div class="section-mark">
                        <div class="circle">2004</div>
                    </div>

                </section>

                <!-- _________________/ -->
                <div class="path-right">
                    <div class="corner-left"></div>
                    <div class="line-center"><hr></div>
                    <div class="corner-right"></div>
                </div>

                <!-- () xxxxxxxxxxxxxxxxx -->
                <section class="section-left">

                    <div class="section-mark">
                        <div class="circle">2000</div>
                    </div>

                    <div class="section-content">

                        <h2>DataRoges Teleinformática</h2>

                        <small>Santa Branca/SP</small>

                        <p>
                            Nesta empresa iniciou-se minha carreira na área de tecnologia.
                            Era uma escola de informática e provedor de internet, onde atuava como
                            professor de informática e "webmaster". Naquele contexto, meu desafio foi
                            desenvolver o <strong>Site da Escola de Informática</strong> e o
                            <strong>Site do Provedor de Internet</strong>. A missão foi cumprida
                            usando PHP 3.0, HTML, CSS e Javascript, resultando em dois sites compatíveis
                            com Internet Explorer 5, 6 e o Netscape.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>PHP 3</li>
                            <li>CGI</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                        </ul>

                    </div>

                </section>

                <!-- \_________________ -->
                <div class="path-left">
                    <div class="corner-left"></div>
                    <div class="line-center"><hr></div>
                    <div class="corner-right"></div>
                </div>

                <!-- xxxxxxxxxxxxxxxxx () -->
                <section class="section-right">

                    <div class="section-content">

                        <h2>
                            Fundec
                        </h2>

                        <small>São José dos Campos/SP</small>

                        <p>
                            Nesta Editora, trabalhei como <strong>Desenhista de Histórias em Quadrinhos</strong>,
                            fazendo uma revista mensal vendida em âmbito nacional.
                            Os desenhos eram feitos de forma tradicional, enquanto a pintura acontecia no
                            <strong>Adobe Photoshop</strong>.
                        </p>

                        <ul>
                            <li>Skills:</li>
                            <li>Desenho Artístico</li>
                            <li>Pena e Nankin (Arte Final)</li>
                            <li>Pintura Digital</li>
                        </ul>

                    </div>

                    <div class="section-mark">
                        <div class="circle">1997</div>
                    </div>

                </section>

            </div>

        </main>
